@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;
}
body{
	_width: 100%;
	_height: 100%;
	font: 13px tahoma, Arial, Verdana, sans-serif;
	color: #666666;
	background-color: #ffffff;
	_background-image: url('about: blank');
	_background-attachment: fixed;
}
*{ margin:0; padding:0;}
a:hover{text-decoration:underline;}
a{text-decoration:none;}
/* 向被激活的元素添加样式。 */
a:active{text-decoration:none;}
/* 当鼠标悬浮在元素上方时，向元素添加样式。 */
a:hover{text-decoration:none;}
/* 向未被访问的链接添加样式。 */
a:link{text-decoration:none;}
/* 向已被访问的链接添加样式。 */
a:visited{text-decoration:none;}
/* ---------- Message ---------- */

div.xxMessage {
	padding: 10px 30px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
	border: 1px solid #999999;
	background-color: #ff8000;
}

div.xxMessage .messageContent {
	line-height: 24px;
	padding: 0px 10px 0px 30px;
	color: #666666;
}

div.xxMessage .messagewarnIcon {
	background: url(../images/common.gif) -60px -330px no-repeat;
}

div.xxMessage .messagesuccessIcon {
	background: url(../images/common.gif) -30px -360px no-repeat;
}

div.xxMessage .messageerrorIcon {
	background: url(../images/common.gif) 0px -390px no-repeat;
}

div.xxMessage .messageIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}