<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="${base}/resource/admin/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"> var base = "${base}";</script>
<!-- common begin -->
<script type="text/javascript" src="${base}/resource/admin/js/jquery.js"></script>
<script type="text/javascript" src="${base}/resource/admin/js/cookie.js"></script>
<script type="text/javascript" src="${base}/resource/admin/js/jquery.validate.js" ></script>
<script type="text/javascript" src="${base}/resource/admin/js/jquery.form.js" ></script>
<script type="text/javascript" src="${base}/resource/adminjs/jquery.livequery.js" ></script>
<script type="text/javascript" src="${base}/resource/adminjs/jquery.tools.min.js" ></script>
<script type="text/javascript" src="${base}/resource/adminjs/ligerui.expand.js" ></script>
<script type="text/javascript" src="${base}/resource/admin/js/message.js" ></script>
<!-- common end -->

<!-- ligerui begin -->
<script type="text/javascript" src="${base}/resource/thirdparty/ligerUI/js/ligerui.all.js"></script>
<link rel="stylesheet" href="${base}/resource/thirdparty/ligerUI/skins/Aqua/css/ligerui-all.css" type="text/css" />
<!-- ligerui end -->

